{{ define "shoppinglist/edit.tmpl" }}
    <h1>New Shopping List</h1>

    {{ if .Error }}
        <div>Error</div>
        <div>{{ .Error }}</div>
    {{ end }}
    <p>
    <a href="/shopping-list">Back</a>
    </p>
    <form action="/shopping-list/update/{{ .Id }}" method="post" name="shopping-list-update">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value={{ .Name }}><br>

        <label for="qty">Quantity:</label><br>
        <input type="number" id="qty" name="qty" value={{ .Qty }}><br>
        <input type="text" id="unit" name="unit" value={{ .Unit }}><br>

        <input type="reset" value="Clear">
        <input type="submit" value="Save">
    </form>

{{ end }}